/* * {
    outline: 2px solid red;
} */

/*-------------Rider Nav Side Bar-------------*/

.rider-ui {
    display: flex;
    justify-content: space-between;

    height: calc(100vh - 70px);
}

.rider-nav-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 10px;
}

.from-textbox,
.to-textbox {
    margin: 10px 0;
}

.from-input,
.to-input {
    width: 25vw; /* Full width */
    height: 50px; /* Adjust height */
    padding: 10px; /* Inner spacing */
    font-size: 16px; /* Font size */
    border: 1px solid #ccc; /* Border color */
    border-radius: 5px; /* Rounded corners */
    box-sizing: border-box; /* Include padding in width */
}

/* Placeholder text color */
.from-input::placeholder,
.to-input::placeholder {
    color: #999; 
}

.driver-button {
    margin: 20px;
}

.driver-button button {
    width: 100%; /* Full width */
    height: 50px; /* Button height */
    font-size: 18px; /* Font size */
    color: #fff; /* Text color */
    background-color: black; /* Button color */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s; /* Smooth transition */
}

/*-------------Map-------------*/
iframe {
    height: calc(100vh - 70px);
    width: 75vw; 
}





